.section__subtitle{
    margin-bottom: 1rem;
}
.about__container{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
    max-width: 100%;
}

.about__img{
    width: 400px;
    border-radius: 1.5rem;
    margin-left: var(--mb-2-5);
    justify-self: center;
}

.about__info{
    margin-bottom: var(--mb-0-5);
    margin-right: var(--mb-2-5);
    display: grid;
    gap: 0.5rem;
}


.about__box{
    display: flex;
    column-gap: 1rem;
    padding: 1rem ;
    border-radius: 1rem;
    background-color: var(--container-color);
    font-size: var(--normal-font-size);
    color: aliceblue;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
    cursor: default;
    margin-bottom: 0;
}


.about__description_demand{
    margin-top: 0;
}

.about_icon{
    size: 15px;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5em;
    }

    .about__img{
        width: 220px;
    }

    .about__box{
        padding: 0.75rem 0.5rem;
    }

    .about__data{
        text-align: center;
    }

    .about__info{
        justify-content: center;
    }

    .about__description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }
  
  /* For medium devices */  
  @media screen and (max-width: 576px) {
    .about__info{
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description{
        padding: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .about_info{
        grid-template-columns: repeat(2, 1fr);
        
    }
  }
  