.home__container{
    row-gap: 4rem;
    padding-left: 0;
}

.home__content{
    grid-template-columns: 50px 2fr 1fr;
    padding-top: 2.5rem;
    column-gap: 1rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover{
    color: var(--title-color-dark);
}

.home__title{
    white-space: nowrap;
    overflow: hidden;          /* optional: clip overflowing text */
    text-overflow: ellipsis;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle_hello{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 0rem;
    font-weight: var(--font-normal);
    margin-bottom: 0;
}

.home__subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 2rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-0-25);
}

.home__subtitle::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description{
    /* max-width: 400px; */
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-2);
}

.button
{
    margin-top: 0;
    background-color: #3B1E7A;
    color: #FAF0E6;
}

.home__scroll{
    margin-top: 0;
    margin-left: 4.8rem;
}

.wheel{
    animation: scroll 2s ease infinite;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(3.75rem);
    }
}

.home__scroll-name{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content{
        grid-template-columns: 40px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand{
        width: 26px;
        height: 26px;
    }

    .home__subtitle{
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before{
        width: 42px;
        top: 0.8rem;
    }

    .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__scroll{
        margin-left: 7.5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__data{
        grid-column: 1/3;
    }

    .home__scroll{
        display: none;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
   .home__hand{
        width: 22px;
        height: 22px;
   }
  }
  